@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

.container {
  @apply mx-auto max-w-screen-2xl px-5;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

@layer utilities {
  .text-primary {
    color: #7d00fa;
  }
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: #f44336 !important;
  --mat-snack-bar-button-color: #fff !important;
  --mat-snack-bar-supporting-text-color: #fff !important;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green !important;
  --mat-snack-bar-button-color: #fff !important;
  --mat-snack-bar-supporting-text-color: #fff !important;
}
